.fontStyle{
  font-family: 'Bebas Neue', cursive;
  font-family: 'Kings', cursive;
}

.hero-img{
  background-image: url(big-murloc.jpg);
  background-position: TOP;
}


.popOut{
  cursor: pointer;
  border-radius: 5%;
}

.popOut:hover{
  transform: scale(1.05);
}